* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: black;
  color: white;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(184, 240, 184);
  transition: transform 0.2s;
}

.choice:hover {
  transform: scale(1.05);
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap:5rem;

}
#user-score,
#computer-score{
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
  text-align: center;
}

#msg {
  background-color: black;
  color: white;
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
